*{
  box-sizing: border-box;
}

.grid{
  width: 600px;
  height: 600px;
display: flex;
flex-wrap: wrap;
}


.square{
    height: 200px;
    width: 200px;
    border-style: solid;
   border: solid 1px black;
}


.mole{
    background-image: url(mole.jpg);
    background-size: cover;
}